* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Disable blue highlight on button click */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #14120b;
  color: #edecec;
  font-family: "Didact Gothic", sans-serif;
  max-width: 1344px;
  margin: 0 auto;
}

header {}

.icon {
  width: 30px;
}

.logo {
  width: 70px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

.logo-link {
  display: flex;
}

.navbar-links {
  color: white;
  display: flex;
  gap: 30px;
}

.sign-in {
  color: #dcd9d5;
  background-color: #00000000;
  border: 1px solid #353a3c;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
}

.btn-download {
  color: #dedbd7;
  background-color: #222527;
  border: 1px solid #353a3c;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
}

.hero-section {
  padding: 112px 0;
}

.hero-section h1 {
  text-wrap: balance;
  font-size: 1.625rem;
  color: #dcd9d5;
}

.cta-btn-download {
  color: #dedbd7;
  background-color: #222527;
  border: 1px solid #353a3c;
  font-size: large;
  margin: 20px 0;
  padding: 10px 16px;
  border-radius: 20px;
}

.company-logos {
  margin-bottom: 100px;
}

.logo-garden {
  display: flex;
  gap: 5px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.logo-garden div {
  padding: 30px;
  border-radius: 4px;
  background-color: #1b1913;
}

.company-logos img {
  max-width: 100%;
}

.feature1,
.feature2,
.feature3 {
  display: flex;
  padding: 10px;
  margin-bottom: 100px;
  background-color: #1b1913;
  align-items: center;
}

.feature1 h3,
.feature2 h3,
.feature3 h3 {
  font-size: 1.375rem;
  font-weight: 600;
  padding: 5px;
}

.feature1 .text,
.feature2 .text,
.feature3 .text {
  font-size: 1.375rem;
  color: #7e7e7e;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 5px;
}

.feature1 span,
.feature2 span,
.feature3 span {
  color: #f54e00;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
}

.testimonials {
  margin-bottom: 100px;
}

.testimonials h2 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 50px;
}

.testimonials-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 14px;
}

.testimonial-card {
  background-color: #1b1913;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
}

.usecases {
  display: flex;
  gap: 10px;
}

.usecase1,
.usecase2,
.usecase3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #1b1913;
  border-radius: 4px;
}

.changelog1,
.changelog2,
.changelog3,
.changelog4 {
  background-color: #1b1913;
  padding: 20px;
  border-radius: 4px;
}

.final-cta-btn-download {
  color: #353a3c;
  background-color: #edecec;
  border: 1px solid #353a3c;
  font-size: large;
  margin: 20px 0;
  padding: 10px 16px;
  border-radius: 20px;
}
